@import "tailwindcss";

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Bebas Neue', sans-serif;
}

.background-banda {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 1) 100%),
    url('../assets/background-1.webp');
  background-size: cover;
  background-position: center;
}

.background-concert {
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 1) 100%),
    url('../assets/background.webp');
  background-size: cover;
  background-position: center;
}

.background-disco {
  background-image: url('../assets/background-2.webp');
  background-size: cover;
  background-position: center;
}

.hide {
  opacity: 0;
  bottom: 0;
  pointer-events: none;
  right: 2em;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 2em;
  right: 2em;
  transition: opacity 0.5s ease-in-out;
}