---
import "../styles/global.css";
import SocialIcons from "../components/SocialIcons.tsx";
import ConcertTable from "../components/ConcertTable.tsx";
import Footer from "../components/Footer.astro";
import concerts from "../data/concerts.json";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Conciertos - Fase Alterna</title>
  </head>
  <body class="relative w-full flex flex-col py-8">
    <div
      class="absolute inset-0 bg-cover bg-center"
      style="background-image: url(/background-1.avif);"
    >
    </div>
    <div class="absolute inset-0 bg-black/70"></div>
    <main
      class="relative z-10 flex flex-col items-center justify-end gap-20 pt-4 pb-8"
    >
      <SocialIcons client:load />

      <img
        src="/logo-w-box.png"
        alt="Logo de Fase Alterna"
        class="max-w-[60%] max-h-[60%] sm:max-w-[40%] sm:max-h-[40%] md:max-w-[25%] md:max-h-[25%] object-contain"
      />
      <section class="w-full max-w-4xl p-6 text-white">
        <ConcertTable client:load concerts={concerts} />
      </section>
      <div class="pt-20">
        <label class="text-white text-center">Más fechas por confirmar</label>
      </div>
      <a
        href="/"
        class="mt-4 px-6 py-2 bg-transparent text-white border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
      >
        Inicio
      </a>
    </main>

    <Footer />
  </body>
</html>
