---
import "../styles/global.css";
import Social from "../components/Social.astro";
import ConcertTable from "../components/ConcertTable.astro";
import Footer from "../components/Footer.astro";
import concerts from "../data/concerts.json";
import BaseHead from "../components/BaseHead.astro";

const HEAD_CONTENT = {
  title: `Fase Alterna | Conciertos y gira "Siempre lo mismo"`,
  description:
    "Consulta la agenda de conciertos de Fase Alterna en Valencia y otras ciudades: fechas, lugares, venta de entradas y experiencias en directo.",
};
---

<html lang="es">
  <BaseHead {...HEAD_CONTENT} />
  <body class="relative w-full flex flex-col py-8">
    
    <section class="sr-only">
      <h1>
        Conciertos de Fase Alterna: agenda en Valencia y otras ciudades – Gira
        Siempre lo mismo
      </h1>
      <p>
        Vive la energía de Fase Alterna en directo. Consulta aquí todas las
        fechas de la gira “Siempre lo mismo” en Valencia, Madrid, Barcelona y
        otras ciudades de España. Encuentra información sobre entradas, salas de
        conciertos y experiencias en vivo de una de las bandas emergentes del
        rock alternativo.
      </p>
    </section>

    <div
      class="absolute inset-0 bg-cover bg-center"
      style="background-image: url(/background-2.avif);"
    >
    </div>
    <div class="absolute inset-0 bg-black/70"></div>
    <main
      class="relative z-10 flex flex-col items-center justify-end gap-20 pt-4 pb-8"
    >
      <Social />

      <img
        src="/logo-w-box.png"
        alt="Logo de Fase Alterna"
        class="max-w-[60%] max-h-[60%] sm:max-w-[40%] sm:max-h-[40%] md:max-w-[25%] md:max-h-[25%] object-contain"
      />
      <h2 class="text-white text-center text-4xl font-semibold">
        Gira Siempre lo mismo
      </h2>
      <section class="w-full max-w-4xl p-6 text-white">
        <ConcertTable concerts={concerts} />
      </section>
      <div class="pt-20">
        <p class="text-white text-center">Más fechas por confirmar</p>
      </div>
      <a
        href="/"
        class="mt-4 px-6 py-2 bg-transparent text-white border border-white font-semibold rounded-none shadow-md text-lg hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
      >
        Inicio
      </a>

      <div class="mt-12">
        <Social />
      </div>
    </main>
    <Footer />
  </body>
</html>
