---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import Social from "../components/Social.astro";

const HEAD_CONTENT = {
  title: "Rock alternativo desde Valencia – Banda emergente Fase Alterna",
  description:
    "Descubre a Fase Alterna, banda emergente de rock alternativo desde Valencia. Letras intensas, guitarras crudas y energía en vivo. Escucha su nuevo EP.",
};
---

<html lang="es">
  <BaseHead {...HEAD_CONTENT} />
  <body
    class="w-full flex flex-col min-h-screen overflow-x-hidden items-center bg-black text-white"
  >
    <!-- Sección superior -->
    <section
      class="relative w-full min-h-[80vh] flex flex-col items-center justify-center gap-20 px-6"
      style="
        background-image:
          linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 85%,
            rgba(0, 0, 0, 1) 100%
          ),
          url(/background-1.avif); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black/30 z-0"></div>

      <div class="relative z-10 flex flex-col items-center gap-16">
        <Social />
        <img
          src="/logo-w-box.png"
          alt="Logo de Fase Alterna"
          class="max-w-[60%] sm:max-w-[40%] md:max-w-[25%] object-contain"
        />
        <div class="sr-only">
          <h1>
            Fase Alterna – Banda de rock alternativo emergente en Valencia
          </h1>
          <h2>
            Rock crudo y emocional desde Valencia – Escucha a Fase Alterna en
            directo
          </h2>
        </div>
        <div
          class="flex flex-col sm:flex-row gap-4 sm:gap-6 justify-center w-full max-w-xl mx-auto"
        >
          <a
            href="/la-banda"
            class="flex items-center justify-center min-w-40 w-full sm:w-auto px-6 py-2 bg-transparent text-white text-lg border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
          >
            La Banda
          </a>
          <a
            href="/conciertos"
            class="flex items-center justify-center min-w-40 w-full sm:w-auto px-6 py-2 bg-transparent text-white text-lg border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
          >
            Conciertos
          </a>
        </div>
      </div>
    </section>

    <!-- Sección central -->

    <!-- Sección inferior -->
    <section class="relative w-full flex flex-col min-h-screen py-16 px-4">
      <video
        autoplay
        muted
        loop
        playsinline
        class="absolute inset-0 w-full h-full object-cover z-[-1]"
      >
        <source src="/video-lococlub.mp4" type="video/mp4" />
        Tu navegador no soporta video HTML5.
      </video>
      <div
        class="absolute inset-0 bg-gradient-to-b from-black via-black/50 to-transparent z-0"
      >
      </div>

      <!-- Contenedor que crece para centrar iframe verticalmente -->
      <div
        class="relative z-10 flex-grow flex flex-col items-center justify-center w-full max-w-md mx-auto"
      >
        <h2 class="mb-4 text-white font-semibold text-4xl">
          El sonido de Fase Alterna
        </h2>
        <iframe
          class="w-full aspect-video"
          data-testid="embed-iframe"
          style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/2HUoAGLgoaqBIMdhAva8uJ?utm_source=generator&theme=0"
          width="100%"
          height="430px"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
        <div class="mt-12">
          <Social />
        </div>
      </div>

      <!-- Footer fijo abajo -->
      <Footer class="relative z-10 mt-8" />
    </section>
  </body>
</html>
