---
import "../styles/global.css";
import SocialIcons from "../components/SocialIcons.tsx";
import Footer from "../components/Footer.astro";
import FadeTransition from "../components/FadeTransition.astro";
import About from "../components/About.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fase Alterna</title>
  </head>
  <body
    class="w-full flex flex-col min-h-screen overflow-x-hidden items-center bg-black text-white"
  >
    <FadeTransition />
    <!-- Sección superior -->
    <section
      class="relative w-full min-h-screen flex flex-col items-center justify-center gap-20 px-6"
      style="
        background-image:
          linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 85%,
            rgba(0, 0, 0, 1) 100%
          ),
          url(/background-1.avif); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black/30 z-0"></div>

      <div class="relative z-10 flex flex-col items-center gap-16">
        <SocialIcons client:load />
        <img
          src="/logo-w-box.png"
          alt="Logo de Fase Alterna"
          class="max-w-[60%] sm:max-w-[40%] md:max-w-[25%] object-contain"
        />
        <div
          class="flex flex-col sm:flex-row gap-4 sm:gap-6 justify-center w-full max-w-xl mx-auto"
        >
          <a
            href="/conciertos"
            class="flex items-center justify-center min-w-40 w-full sm:w-auto px-6 py-2 bg-transparent text-white text-lg border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
          >
            Conciertos
          </a>
          <a
            href="/prensa"
            class="flex items-center justify-center min-w-40 w-full sm:w-auto px-6 py-2 bg-transparent text-white text-lg border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
          >
            Kit de prensa
          </a>
        </div>
      </div>
    </section>

    <!-- Sección central -->

    <About />

    <!-- Sección inferior -->
    <section
      class="relative w-full flex flex-col min-h-screen py-16 px-4"
      style="
        background-image:
          linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 15%
          ),
          url(/background.avif); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black/30 z-0"></div>

      <!-- Contenedor que crece para centrar iframe verticalmente -->
      <div
        class="relative z-10 flex-grow flex flex-col items-center justify-center w-full max-w-md mx-auto"
      >
        <h2 class="mb-4 text-white font-semibold text-3xl">
          El sonido de Fase Alterna
        </h2>
        <iframe
          class="w-full aspect-video"
          data-testid="embed-iframe"
          style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/2HUoAGLgoaqBIMdhAva8uJ?utm_source=generator&theme=0"
          width="100%"
          height="430px"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
        <div class="mt-12">
          <SocialIcons client:load />
        </div>
      </div>

      <!-- Footer fijo abajo -->
      <Footer class="relative z-10 mt-8" />
    </section>
  </body>
</html>
