---
import "../styles/global.css";
import SocialIcons from "../components/SocialIcons.tsx";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fase Alterna</title>
  </head>
  <body
    class="w-full flex flex-col min-h-screen overflow-x-hidden bg-black text-white"
  >
    <!-- Sección superior -->
    <section
      class="relative w-full min-h-screen flex flex-col items-center justify-center gap-20 px-6"
      style="background-image: url(/background-1.avif); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black/30 z-0"></div>

      <div class="relative z-10 flex flex-col items-center gap-16">
        <SocialIcons client:load />
        <img
          src="/logo-w-box.png"
          alt="Logo de Fase Alterna"
          class="max-w-[60%] sm:max-w-[40%] md:max-w-[25%] object-contain"
        />
        <a
          href="/conciertos"
          class="mt-4 px-6 py-2 bg-transparent text-white border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
        >
          Conciertos
        </a>
      </div>
    </section>

    <!-- Sección inferior -->
    <section
      class="relative w-full flex flex-col min-h-screen py-16 px-4"
      style="background-image: url(/background.avif); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black/30 z-0"></div>

      <!-- Contenedor que crece para centrar iframe verticalmente -->
      <div
        class="relative z-10 flex-grow flex items-center justify-center w-full max-w-md mx-auto"
      >
        <iframe
          class="w-full aspect-video"
          src="https://open.spotify.com/embed/album/0AToPZp8e6vGzo5Y4wzH27?utm_source=generator&theme=0"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
          allowfullscreen=""
          width="100%"
          height="430px"></iframe>
      </div>

      <!-- Footer fijo abajo -->
      <Footer class="relative z-10 mt-8" />
    </section>
  </body>
</html>
