---
import '../styles/global.css';
import About from '../components/About.astro';
import Social from '../components/Social.astro';
import { Image } from 'astro:assets';

import faLogo from '../assets/logo-w-box.webp';
import Layout from '../layouts/Layout.astro';

const HEAD_CONTENT = {
  title: 'Fase Alterna | Banda emergente de rock alternativo desde Valencia',
  description:
    'Conoce a Fase Alterna, una banda emergente de rock alternativo desde Valencia. Letras intensas, sonido crudo y una propuesta original dentro del panorama independiente español.',
};
---

<Layout {...HEAD_CONTENT}>
  <main
    class="w-full flex flex-col min-h-screen overflow-x-hidden items-center bg-black text-white"
  >
    <section
      class="relative w-full min-h-[80vh] flex flex-col items-center justify-center gap-20 px-6 background-banda"
    >
      <div class="absolute inset-0 bg-black/30 z-0"></div>

      <div class="relative z-10 flex flex-col items-center gap-16">
        <Social />
        <Image
          src={faLogo}
          alt="Logo de Fase Alterna"
          class="max-w-[60%] sm:max-w-[40%] md:max-w-[25%] object-contain"
          loading="eager"
        />
        <h1 class="sr-only">Banda emergente de rock alternativo desde Valencia</h1>
        <h2 class="sr-only">
          Rock crudo y emocional desde Valencia – Escucha a Fase Alterna en directo
        </h2>
      </div>
    </section>

    <section class="relative w-full flex flex-col min-h-screen py-16 px-6 items-center">
      <About />
      <div class="flex flex-col justify-center items-center gap-4 my-6 pt-12">
        <h2 class="font-bold pt-8 text-2xl text-white">Videoclips</h2>
        <div
          class="flex flex-col md:flex-row justify-center items-center gap-4 my-6 px-4 md:px-12 w-full max-w-6xl"
        >
          <iframe
            title="En algún lugar - Videoclip de Fase Alterna"
            class="w-full md:max-w-[360px] xl:max-w-full aspect-video"
            src="https://www.youtube.com/embed/yqxCMMLxQfg?si=mlcjCbr5zZnOyawK"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen></iframe>
          <iframe
            title="Hablar de mí - Videoclip de Fase Alterna"
            class="w-full md:max-w-[360px] xl:max-w-full aspect-video"
            src="https://www.youtube.com/embed/oahC5hRs9jk?si=7sDeUoPmewUZZ7AS"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen></iframe>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 justify-center w-full max-w-xl mx-auto">
        <a
          href="/"
          class="flex items-center justify-center min-w-40 w-full sm:w-auto px-6 py-2 bg-transparent text-white text-lg border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
        >
          Inicio
        </a>
        <a
          href="/conciertos"
          class="flex items-center justify-center min-w-40 w-full sm:w-auto px-6 py-2 bg-transparent text-white text-lg border border-white font-semibold rounded-none shadow-md hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
        >
          Conciertos
        </a>
      </div>
    </section>
  </main>
</Layout>
