---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

const HEAD_CONTENT = {
  title: "Kit de prensa - Fase Alterna",
  description: "Descripcion genial sobre esta pagina v:"
}

---

<html lang="es">
  <BaseHead {...HEAD_CONTENT}/>
  <body
    class="h-dvh w-full flex flex-col justify-center items-center min-h-screen overflow-x-hidden bg-black text-white"
  >
    <section
      class="relative w-full h-full flex flex-col items-center justify-center gap-20 px-6"
      style="
        background-image:
          linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 85%,
            rgba(0, 0, 0, 1) 100%
          ),
          url(/background-1.avif); background-size: cover; background-position: center;"
    >
      <div class="absolute inset-0 bg-black/75 z-0"></div>
      <div class="relative z-10 flex flex-col items-center gap-10">
        <img
          src="/logo-w-box.png"
          alt="Logo de Fase Alterna"
          class="max-w-[60%] sm:max-w-[40%] md:max-w-[25%] object-contain"
        />
        <h1 class="text-white text-6xl">Kit de prensa</h1>
        <p class="text-white text-4xl">Estamos trabajando en ello.</p>
        <p class="text-white text-4xl">Pronto estará disponible.</p>
        <a
          href="/"
          class="mt-4 px-6 py-2 bg-transparent text-white border border-white font-semibold rounded-none shadow-md text-lg hover:bg-gray-200 hover:text-gray-700 hover:border-gray-200 transition-colors duration-300"
        >
          Volver al inicio
        </a>
      </div>
    </section>
    <Footer />
  </body>
</html>
