---

---

<div
  id="fade-overlay"
  class="fixed inset-0 bg-black opacity-100 transition-opacity duration-700 z-50 pointer-events-none"
></div>


<script type="module" src="/src/scripts/fade-transition.js"></script>
