---

---

<div
  id="fade-overlay"
  class="fixed inset-0 bg-black opacity-100 z-[9999] pointer-events-none transition-opacity duration-700 ease-in-out"
>
</div>

<script type="module" src="/src/scripts/fade-transition.js"></script>
